@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #212121;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
    --color-accent: #f0f;
    --color-light: #fff;
    --color-dark: #212121;
    --color-primary-inverted: #fff;
    --color-secondary-inverted: #fff;
    --color-tertiary-inverted: #fff;
    --color-accent-inverted: #fff;
    --color-primary-muted: #fdd;
    --color-secondary-muted: #dfd;
    --color-tertiary-muted: #ddf;
    --color-accent-muted: #fdd;
    --border-radius: 0.12rem;
    --border-radius-small: 0.05rem;
    --border-radius-large: 2rem;
    --border-radius-full: 9999px;
  }

  .theme-base {
    --color-primary: #000;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
    --color-accent: #e0e0e0;
    --color-light: #fff;
    --color-dark: #212121;
    --color-primary-inverted: #fff;
    --color-secondary-inverted: #fff;
    --color-tertiary-inverted: #fff;
    --color-accent-inverted: #fff;
    --color-primary-muted: #fafafa;
    --color-secondary-muted: #dfd;
    --color-tertiary-muted: #ddf;
    --color-accent-muted: #fdd;
    --border-radius: 0.5rem;
    --border-radius-small: 1rem;
    --border-radius-large: 2rem;
    --border-radius-full: 9999px;
  }

  .theme-brutal {
    --color-primary: #f0f;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
    --color-accent: #e0e0e0;
    --color-light: #fff;
    --color-dark: #212121;
    --color-primary-inverted: #fff;
    --color-secondary-inverted: #fff;
    --color-tertiary-inverted: #fff;
    --color-accent-inverted: #fff;
    --color-primary-muted: #FFB6C1;
    --color-secondary-muted: #dfd;
    --color-tertiary-muted: #ddf;
    --color-accent-muted: #fdd;
    --border-radius: 2rem;
    --border-radius-small: 3rem;
    --border-radius-large: 4rem;
    --border-radius-full: 9999px;
  }

  .theme-neon {
    --color-primary: #39FF14;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
    --color-accent: #f0f;
    --color-light: #fff;
    --color-dark: #212121;
    --color-primary-inverted: #212121;
    --color-secondary-inverted: #fff;
    --color-tertiary-inverted: #fff;
    --color-accent-inverted: #fff;
    --color-primary-muted: #212121;
    --color-secondary-muted: #dfd;
    --color-tertiary-muted: #ddf;
    --color-accent-muted: #fdd;
    --border-radius: 0.12rem;
    --border-radius-small: 0.05rem;
    --border-radius-large: 1rem;
    --border-radius-full: 9999px;
  }
} 


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
